<div class="title-card">
    <div class="card-header">
      <p class="card-title">{{ titleName }}</p>
      <span class="card-type-badge">{{ titleType }}</span>
    </div>
  
    <div class="card-divider"></div>
  
    <div class="card-row">
      <i class="ti ti-masks-theater"></i>
      <span class="card-label">Gênero</span>
      <span class="card-value">{{ titleGener }}</span>
    </div>
  
    <div class="card-row">
      <i class="ti ti-calendar"></i>
      <span class="card-label">Ano</span>
      <span class="card-value">{{ titleYear }}</span>
    </div>
  
    <div class="card-actions">
      <select name="" id="" class="card-select" [(ngModel)]="titleStatus" (change)="onChangeStatus()">
        <option value="want-watch">Quero assistir</option>
        <option value="watching">Assistindo</option>
        <option value="watched">Assistido</option>
      </select>
      <button class="btn-icon danger">
        <i class="ti ti-trash"></i> Remover
      </button>
    </div>
    @if (titleStatus == "watched") {
      <div class="star-rating">
        <span class="star-rating-label">Sua avaliação</span>
        <div class="stars">
          <input type="radio" [id]="'s5-'+titleName"   [name]="'rating-'+titleName" value="5" (click)="onChangeRating($event.target.value)" >
          <label  [for]="'s5-'+titleName"   class="full"  title="5">★</label>
    
          <input type="radio" [id]="'s4-'+titleName"   [name]="'rating-'+titleName" value="4" (click)="onChangeRating($event.target.value)">
          <label  [for]="'s4-'+titleName"   class="full"  title="4">★</label>
    
          <input type="radio" [id]="'s3-'+titleName"   [name]="'rating-'+titleName" value="3" (click)="onChangeRating($event.target.value)">
          <label  [for]="'s3-'+titleName"   class="full"  title="3">★</label>
    
          <input type="radio" [id]="'s2-'+titleName"   [name]="'rating-'+titleName" value="2" (click)="onChangeRating($event.target.value)">
          <label  [for]="'s2-'+titleName"   class="full"  title="2">★</label>
    
          <input type="radio" [id]="'s1-'+titleName"   [name]="'rating-'+titleName" value="1" (click)="onChangeRating($event.target.value)">
          <label  [for]="'s1-'+titleName"   class="full"  title="1">★</label>
        </div>
      </div>
    }
  </div>