<!-- <app-header></app-header>
<main>
    <ul id="users">
        <li>
            <app-user [selectedUser]="users[0]"></app-user>
        </li>
        <li>
            <app-user [selectedUser]="users[1]"></app-user>
        </li>
        <li>
            <app-user [selectedUser]="users[2]"></app-user>
        </li>
    </ul>
</main>
<app-product-card-component></app-product-card-component>
<app-produc-card-component [produto]="products[0]"></app-produc-card-component> -->
<app-task-item-component
  [title]="tituloTask1"
  [priority]="'medium'"
  [description]="descricaoTask1"
  [dueDate]="dueDateTask1"
  [assignee]="assigneeTask1"
/>
<app-counter-button
  [label]="labelButton"
  [min]="minButton"
  [max]="maxButton"
  [value]="initialValue"
/>
<app-alert-box
  [message]="messageAlert"
  (closed)="setShowAlertToHidden()"
  [hidden]="getShowAlert"
  [type]="typeAlert"
/>
<app-user-list/>
<app-toggle-card [title]="tituloToggleCard" [isOpen]="true"/>
<app-task-board [activeFilter]="'all'">